<div *ngIf="bookmarks.length != 0">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let bookmark of bookmarks">
        <nb-card class="movie_card_container">
          <nb-card-body>
            <div class="movie_poster">
              <img src="{{ bookmark.Poster }}" alt="{{ bookmark.Title }}" />
            </div>
            <div class="movie_content_container">
              <button
                nbButton
                class="delete_icon"
                (click)="deleteItem(bookmark)"
                status="danger"
              >
                Delete
              </button>
              <div class="movie_title">
                <p class="title_label">Title</p>
                <p>{{ bookmark.Title }}</p>
              </div>
              <div class="movie_year_container">
                <div class="movie_year">
                  <p class="year"><span>Year : </span> {{ bookmark.Year }}</p>
                </div>
                <div class="movie_year">
                  <p><span>Type : </span> {{ bookmark.Type }}</p>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="bookmarks.length === 0">
  <div class="container text-center my-3">
    <div class="row">
      <div class="col-12">
        <div class="bookmark_title py-4">
          <h4>No, Bookmarks available!</h4>
        </div>
        <div class="bookmark_image">
          <img
            src="../../assets/bookmark_empty_state.png"
            alt="bookmark-image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
