<nb-layout>
  <nb-layout-header>
    <div class="header_container">
      <div class="header_brand">
        <a href="/"> <img src="../assets/demo_logo.png" alt="logo" /></a>
      </div>
      <div class="header_nav_items">
        <a href="/"><div>Home</div></a>
        <a href="bookmark"><div>Bookmarks</div></a>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column class="app_container">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer class="footer">
    <p class="footer_content">
      @Vimal Thanikachalam 2021 | <a href="">Github</a>
    </p>
  </nb-layout-footer>
</nb-layout>
