@import "../colors";

.search_card_container {
  background-color: rgba(32, 32, 32, 0.281);
  margin: 0 auto;
  width: calc(60% - 3rem);
  padding: 2rem 0;
  backdrop-filter: blur(0.4rem);
  border: none;
}

.search_container {
  text-align: center;

  & .search_title {
    padding-bottom: 1rem;
  }

  & .search_title p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 0;
  }

  & .search_input {
    display: flex;
    justify-content: center;

    & .search_btn {
      margin-left: 0.4rem;

      & button {
        font-weight: 400;
        color: #fff;
        border-color: $primary_color;
        background-color: $primary_color;
        text-transform: none;

        &:hover {
          background-color: $primary_dark;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search_card_container {
    width: calc(100% - 1rem);
  }
}
