<div class="container py-4">
  <div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let movie of moviedata">
      <nb-card class="movie_card_container">
        <nb-card-body>
          <div class="movie_poster">
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }}" />
          </div>
          <div class="movie_content_container">
            <nb-icon
              (click)="getBookmarks(movie)"
              class="bookmark_icon"
              nbPrefix
              icon="bookmark"
              pack="eva"
            ></nb-icon>
            <div class="movie_title">
              <p class="title_label">Title</p>
              <p>{{ movie.Title }}</p>
            </div>
            <div class="movie_year_container">
              <div class="movie_year">
                <p class="year"><span>Year : </span> {{ movie.Year }}</p>
              </div>
              <div class="movie_year">
                <p><span>Type : </span> {{ movie.Type }}</p>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<!-- <button nbButton (click)="showToast('top-right', 'success')">Top Right</button> -->
